.add-task-container{
  margin: 15px 0;
  padding: 0 10px;
  width: 95%;
  display: flex;
}

.add-task-input{
  height: 35px;
  border-radius: 5px;
  border: none;
  flex: 2;
  color: #222;
  font-size: 16px;
  margin-right: 8px;
}
